footer{
    text-decoration: none !important;
}

/* Estilos productos, servicio y convenios */

h3{
    color: #2A6171;
}

#Productos img{
    width: 100%;
    height: 80%;
}

.button-container{
    display: inline-block;
    position: relative;
}

.button-container a{
    position: absolute;
    bottom: 6rem;
    right: 10rem;
    background-color: #2A6171;
    border-radius: 10px;
    color: white;
    padding: 0.6rem 1.0rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    
}
#Servicios .col-lg-4{
    padding: 22px;
    margin: 0 !important;
}
#Servicios img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    
}
#Servicios img:hover{
    border: 4px solid white;
}

#Convenios .col-lg-2{
    padding: 10px;
    margin: 0 !important;
    
}
#Convenios img{
    width: 95%;
    height: 130px;
    box-shadow: 5px 8px 8px #2A6171;
   
    
    
}
.btn{
    background-color:#2A6171;
    color: white;
    font-size: 18px;
    

}

/* Estilos productos pagina */
.fondo-nav {
    background-color: #2a6171;
  }
  
  .color-letra {
    color: white;
  }
  
  .centro {
    align-items: center;
    justify-content: center;
  }
  
  .negrita {
    font-weight: 720;
  }
  
  .color-letra-2 {
    color: #2a6171;
  }
  
  .centro-1 {
    text-align: right;
  }
  
  .ancho-1 {
    width: 110px;
  }
  
  .fondo-1 {
    background-color: #d7f7f5;
  }
  
  .letra-seccion {
    color: #f34573;
  }
  
  .centro-2 {
    text-align: left;
  }
  
  /* Estilo formulario*/

  .bg-liblue {
    background-color: #d7f7f5; 
}

.bg-blue {
    background-color: #01504A !important;
}
.bg-pink {
    background-color: #f34573 !important;
}
.text-dablue {
    color: #01504A;
}
.text-pink {
    color: #f34573;
}
.border-pink {
    color: #f34573 !important;
}

.logo {
    margin: 4px;
}

.text-title1 {
    justify-content: center;
    margin-left: 1130px;
}
.profile-img {
    width: 200px; /* alto y ancho específico para que el círculo sea redondo */
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; /* oculta todo el contenido fuera de la caja */
    position: relative;
    margin-top: 50px;
  }

  .profile-img img {
    position:relative;
    width: 150%; /* Soluciona el problema de ubicación de las imágenes en cajas circulares */
    left: -25%; /* posiciona al centro del contenedor la imagen */
    top: -30px;
  }

  .profile-img .file {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 12px;
    background: #c6daedb8;
    color: rgb(56, 52, 52);
    text-align: center;
    padding: 10px 0 25px;

  }

  .profile-img .file input {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer; /* manita de selección al hacer hover */
  }

  .col-md-5 {
      margin-left: 50px;
  }

  .input-bg {
      background-color: #f34573;
  }

.border-default {
    border-color: rgb(224, 236, 236);
}




/* footer pagina de inicio de sesion*/

.footer-style {
  padding-top: 5px;
  background-color: #2a6171;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 5px;
  font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
footer .footer-col {
  margin-bottom: 5px;
}
footer .footer-below {
  padding: 5px 0;
  background-color: #233140;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

/* esteilos pagina sobre nosotros*/
.bg-liblue {
  background-color: #d7f7f5; 
}

.bg-blue {
  background-color: #2a6171;
}
.bg-pink {
  background-color: #f34573;
}
.text-dablue {
  color: #01504A;
}
.text-pink {
  color: #f34573;
}
.text-grey {
  color: #7d9898;
}
.mt-7 {
  margin-top: 14rem;
}
.mt-8 {
  margin-top: 7rem;
}

.logo {
  margin: 4px;
}

.text-title1 {
  justify-content: center;
  margin-left: 1130px;
}
.profile-img {
  width: 200px; /* alto y ancho específico para que el círculo sea redondo */
  height: 200px;
  border-radius: 50%; 
  overflow: hidden; /* oculta todo el contenido fuera de la caja */
  position: relative;
  margin-top: 50px;
}

.profile-img img {
  position:relative;
  width: 150%; /* Soluciona el problema de ubicación de las imágenes en cajas circulares */
  left: -25%; /* posiciona al centro del contenedor la imagen */
  top: -30px;
}

.profile-img .file {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  background: #c6daedb8;
  color: rgb(56, 52, 52);
  text-align: center;
  padding: 10px 0 25px;
 
}

.profile-img .file input {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: pointer; /* manita de selección al hacer hover */
}

.col-md-5 {
    margin-left: 50px;
}

.input-bg {
    background-color: #f34573;
}

.border-default {
  border-color: rgb(224, 236, 236);
}

.container5 {
  margin-left: 740px;
}

